{% extends 'main/layout.html' %}

{% block title %}Create Page{% endblock %}

{% block content %}
    <div class="features">
        <h1>Form for creating notes</h1>
        <form method="post">
            {% csrf_token %}<br>
            {{ form.title }}<br>
            {{ form.intro }}<br>
            {{ form.description }}<br>
            {{ form.date }}<br>
            <span>{{error}}</span>
            <button class="btn btn-success" type="submit">Submit</button>

        </form>
    </div>
{% endblock %}